@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
}
#text{
  font-size: 1rem !important;
}
a {
  color: inherit;
  text-decoration: none;
}

*{
  font-family: Vazirmatn, sans-serif;
  box-sizing: border-box;
  user-select: none;
}
*>*{
  font-family: Vazirmatn, sans-serif;
}
h2{
  @apply text-2xl
}
button{
  font-family: inherit;
}

.nofound{
  font-family: 'Montserrat', sans-serif;
  font-size: 180px;
  font-weight: 900;
  color:#030005 ;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
