@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
}
#text{
  font-size: 1rem !important;
}
a {
  color: inherit;
  text-decoration: none;
}

*{
  font-family: Vazirmatn, sans-serif;
  box-sizing: border-box;
  user-select: none;
}
*>*{
  font-family: Vazirmatn, sans-serif;
}
h2{
  @apply text-2xl
}
button{
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
